<div id='header'>
   <div class='horizontal_menu_item'>
      <%= link_to 'Home', controller: 'welcome' %>
   </div>
   <div class='horizontal_menu_item'>
      <%= link_to 'Products', controller: 'products' %>
   </div>
   <div class='horizontal_menu_item'>
      <%= link_to 'Categories', controller: 'categories' %>
   </div>
</div>
