// Styles related to the products controller

.vertical_menu {
   box-sizing: border-box;
   display: table-cell;
   padding-left: 0px;
   padding-right: 20px;
}

.vertical_menu_list {
   padding-left: 0px;
}

.vertical_menu_item {
   line-height: 1.4;
   list-style: none;
   padding-top: 6px;
   padding-bottom: 6px;
   word-wrap: break-word;
}

.sortable_column {
   color: black;
}

.main_content {
   box-sizing: border-box;
   display: table-cell;
   padding-right: 0px;
}
