<div class='vertical_menu'>
   <ul class='vertical_menu_list'>
      <li class='vertical_menu_item'>
         <%= link_to 'All Categories', categories_path %>
      </li>
      <li class='vertical_menu_item'>
        <%= link_to 'New Category', new_category_path %>
      </li>
   </ul>
</div>
