<div class='vertical_menu'>
   <ul class='vertical_menu_list'>
      <li class='vertical_menu_item'>
         <%= link_to 'Summary', product_path(params[:id]) %>
      </li>
      <li class='vertical_menu_item'>
         <%= link_to 'Reports (TODO)', product_path(params[:id]) %>
      </li>
   </ul>
</div>