<%= render 'shared/menu' %>

<p>
<strong>Title:</strong>
<%= @product.title %>
</p>

<p>
<strong>Status:</strong>
<%= @product.status %>
</p>

<p>
<strong>Features Supported:</strong>
<%= @product.supportedFeatures %>
</p>